<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>
<body>
    <h1>"http://127.0.0.1:8000/html/channel/{{user.username}}"</h1>

    <input type="hidden" value="{{user.username}}" id="owner">
    <input type="hidden" value="{{current_user}}" id="current_user">

    <div>
        <p id="subscribers">Subscribers: {{subscribers}}</p>
        {% if user.username != current_user %}
            <button id="button" onclick="follow(event)">Send</button>
        {% endif %}
    </div><br><br>

    <div>
        {% for video in user.video_set %}
            <p>{{video.name}} - {{video.date_of_creation}}</p>
        {% endfor %}
    </div>

    <script>
        let ws = new WebSocket(`ws://${window.location.host}/html/ws/channel`);

        ws.onmessage = function(event) {
            document.querySelector("#subscribers").innerHTML = `Subscribers: ${event.data}`;
        };

        function follow(event) {
            let owner = document.getElementById("owner");
            let current_user = document.getElementById("current_user");
            ws.send(`${owner.value}, ${current_user.value}`);
            event.preventDefault();
        };
    </script>
</body>
</html>