<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ video_id }}</title>
</head>
<body>
    <h1>"http://127.0.0.1:8000/html/watch/{{video_id}}"</h1>

    <input type="hidden" value="{{video_id}}" id="video_id">
    <input type="hidden" value="{{current_user}}" id="current_user">

    <video autoplay width="800" height="500">
        <source src="http://127.0.0.1:8000/video/watch/{{video_id}}">
    </video>
    <p id="count_likes">Count likes: {{count_likes}}</p>
    <button id="button" onclick="setLike(event)">Send</button>

    <script>
        let ws = new WebSocket(`ws://${window.location.host}/html/ws`);

        ws.onmessage = function(event) {
            if (event.data == "Not authorization") {
                document.getElementById("button").remove();
            } else {
                document.querySelector("#count_likes").innerHTML = `Count likes: ${event.data}`;
            };
        };

        function setLike(event) {
            let video_id = document.getElementById("video_id");
            let current_user = document.getElementById("current_user");
            ws.send(`${video_id.value}, ${current_user.value}`);
            event.preventDefault();
        };
    </script>
</body>
</html>