<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ path }}</title>
</head>
<body>
    <h1>"http://127.0.0.1:8000/html/watch/{{path}}"</h1>

    <input type="hidden" value="{{path}}" id="path">

    <video autoplay width="800" height="500">
        <source src="http://127.0.0.1:8000/video/watch/{{path}}">
    </video>

    <p id="count_likes">Count likes: {{count_likes}}</p>
    <button id="button" onclick="setLike(event)">Send</button>

    <script>
        let ws = new WebSocket(`ws://${window.location.host}/html/ws`);

        ws.onmessage = function(event) {
            if (event.data == "Not authorization") {
                document.getElementById("button").remove();
            } else {
                document.querySelector("#count_likes").innerHTML = `Count likes: ${event.data}`;
            };
        };

        function setLike(event) {
            let path = document.querySelector("#path");
            ws.send(path.value);
            event.preventDefault();
        };
    </script>
</body>
</html>